<div class="mb-site container">
    <section class="mb-form mb-popular">
        <div class="mb-popular-text">
            Thank you, We will notify you when BikeSharing is available in your city.
        </div>
    </section>
</div>