apiVersion: core.oam.dev/v1alpha1
kind: ComponentSchematic
metadata:
  name: "{{.Release.Name}}-{{.Values.appVersion}}"
spec:
  workloadType: core.oam.dev/v1alpha1.Server
  containers:
    - name: foo
      image: oamdev/helloworld-python:v1
      env:
        - name: TARGET
          fromParam: target
        - name: PORT
          fromParam: port
      ports:
        - type: tcp
          containerPort: 9999
          name: http
  parameters:
    - name: target
      type: string
      default: World
    - name: port
      type: string
      default: "9999"
