apiVersion: core.oam.dev/v1alpha1
kind: ApplicationConfiguration
metadata:
  name: singleton-nginx-app
spec:
  components:
    - componentName: alpine-singleton-worker-v1
      instanceName: singleton-nginx-app
      traits:
        - name: ingress
          parameterValues:
            hostname: example.com
            path: /
